<div>
    <div class="container my-14 md:my-20">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 gap-y-8">
            <!-- Section -->
            <div class="flex flex-col items-start sm:flex-row gap-4">
                <i class="bi bi-rocket-takeoff-fill text-4xl md:text-5xl text-primary"></i>
                <div>
                    <h1 class="lg:text-xl font-bold">Free Shipping</h1>
                    <h1 class="text-gray-400 text-sm">Free Shipping On All Order</h1>
                </div>
            </div>
            <!-- Section -->
            <div class="flex flex-col items-start sm:flex-row gap-4">
                <i class="bi bi-check-circle-fill text-4xl md:text-5xl text-primary"></i>
                <div>
                    <h1 class="lg:text-xl font-bold">Safe Money</h1>
                    <h1 class="text-gray-400 text-sm">30 Days Money Back</h1>
                </div>
            </div>
            <!-- Section -->
            <div class="flex flex-col items-start sm:flex-row gap-4">
                <i class="bi bi-wallet-fill text-4xl md:text-5xl text-primary"></i>
                <div>
                    <h1 class="lg:text-xl font-bold">Secure Payment</h1>
                    <h1 class="text-gray-400 text-sm">All Payment Secure</h1>
                </div>
            </div>
            <!-- Section -->
            <div class="flex flex-col items-start sm:flex-row gap-4">
                <i class="bi bi-headphones text-4xl md:text-5xl text-primary"></i>
                <div>
                    <h1 class="lg:text-xl font-bold">Online Support 24/7</h1>
                    <h1 class="text-gray-400 text-sm">Technical Support 24/7</h1>
                </div>
            </div>
        </div>
    </div>
</div>